.navbar {
    background-color: #2a470c;
    color: #FFFBEE;
    display: flex;
    padding-right: 1%;
    width: 99%;
    justify-content: space-between;
    align-items: center;
}


.navbar-logo {
    cursor: pointer;
    margin-left: 10%;
}

.navbar-menu-icon-laptop {
    cursor: pointer;
    scale: 50%;
}

.navbar-menu-icon-mobile {
    cursor: pointer;
    scale: 110%;
    padding-top: 2%;
}

.navbar-menu-icon-tablet {
    cursor: pointer;
    scale: 50%;
}
.navbar-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.navbar-tab {
    padding: 1%;
    background-color: transparent;
    color: #FFFBEE;
    font-size: medium;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navbar-tab-admin {
    padding: 1%;
    background-color: transparent;
    color: #FFFBEE;
    font-size: medium;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.navbar-tab:hover {
    background-color: #FBE3BE;
    border-color: #FBE3BE;
    color: #2a470c;
}

.navbar-tab:focus {
    outline: none;
}







