.add-patient-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 3%;
}

.add-patient-laptop,
.add-patient-mobile,
.add-patient-tablet {
    font-family: 'Karla', sans-serif;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
    white-space: nowrap;
    text-align: center;
    margin-bottom: 15%;
}

.add-patient-laptop {
    font-size: 7vh;
}

.add-patient-mobile {
    font-size: 3.5vh;
}

.add-patient-tablet {
    font-size: 5vh;
}

.add-patient-input-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

.add_label {
    font-size: 1rem;
    font-weight: bold;
    color: #2A470C;
    margin-bottom: 0.5rem;
}

.add-patient-input,
.add-patient-select {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #FBE3BE;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 0 10px;
}

.add-patient-select .MuiInputBase-root {
    background-color: #FBE3BE;
    color: #2A470C;
}

.MuiInputLabel-root {
    color: #2A470C;
    font-size: 1rem;
    font-weight: bold;
}

.MuiSelect-select {
    color: #2A470C;
    padding: 10px;
}

.save-patient-button {
    width: 100%;
    max-width: 100%;
    background-color: #2A470C;
    color: #FFFBEE;
    height: fit-content;
    border-radius: 5px;
    font-size: 1rem;
}

.checkbox {
    color: #2A470C;
    margin-top: 1rem;
    margin-bottom: 2rem; 
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.save-button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

