.add-patient-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add-patient-laptop {
    font-family: 'Karla', sans-serif;
    padding-bottom: 5%;
    font-size: 7vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
    white-space: nowrap;
}

.add-patient-mobile {
    font-family: 'Karla', sans-serif;
    padding-bottom: 3%;
    font-size: 2.5vh;
    padding-left: 10%;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
    white-space: nowrap;
}

.add-patient-tablet {
    font-family: 'Karla', sans-serif;
    padding-bottom: 10%;
    padding-left: 10%;
    font-size: 5vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
    white-space: nowrap;
}

.add-patient-input {
    height: 50%;
    width: 95%;
    font-size: large;
    border-radius: 5px;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
.add-patient-select {
    width: 95%;
    height: 50%;
    font-size: large;
    text-color: #2A470C;
    border-radius: 5px;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
}

.add-patient-select .MuiSelect-select {
    padding: 10px;
}
.add-patient-additional-input {
    width: 95%;
    font-size: small;
    border-radius: 5px;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.add-patient-input .MuiInputLabel-root,
.add-patient-additional-input .MuiInputLabel-root {
    padding-left: 10px;
}

@media (min-width: 1025px) {
    .add-patient-input-container {
        width: 90%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .add-patient-input-container {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 8%;
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .add-patient-input-container {
        width: 95%;
        padding-top: 1%;
        padding-bottom: 7%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.info-dropdown {
    height: 100%;
    width: 100%;
    font-size: medium;
    padding: 2%;
    border-radius: 10px;
    border: 1px #FBE3BE;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
.space{
    padding-top: 5%;
}
.checkbox {
    color: #2A470C;
    padding-left: 5%;
}
.save-button-container {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.save-patient-button {
    width:40%;
    background-color: #2A470C;
    color: #FFFBEE;
    border-radius: 10px;
}
