body {
    margin: 0;
    padding: 0;
    background-color: #FFFBEE;
}

.logo-laptop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
    padding-left: 43%;
    height: fit-content;
}

.logo-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
    padding-left: 33%;
    height: 40%;
    width: 40%;

}

.logo-tablet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40%;
    padding-left: 33%;
    height: 40%;
    width: 40%;

}

.main-login-button-laptop {
    margin-top: 28%;
    margin-left: 41%;
    position: absolute;
    width: 20%;
    height: 6%;
    border-radius: 5px;
    background-color: #2A470C;
    color: #FFFBEE;


}

.main-login-button-mobile {
    margin-top: 70%;
    margin-left: 30%;
    position: absolute;
    width: 40%;
    height: 6%;
    border-radius: 5px;
    background-color: #2A470C;
    color: #FFFBEE;


}

.main-login-button-tablet {
    margin-top: 70%;
    margin-left: 36%;
    position: absolute;
    width: 30%;
    height: 6%;
    border-radius: 5px;
    background-color: #2A470C;
    color: #FFFBEE;


}

@media (min-width: 1025px) {
    .main-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 4vh;
    }
}

@media (max-width: 480px) {
    .main-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 3vh;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .main-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 3vh;
    }
}

.main-signup-button-laptop {
    margin-top: 32%;
    margin-left: 41%;
    position: absolute;
    width: 20%;
    height: 6%;
    border-radius: 5px;
    background-color: #2A470C;
    color: #FFFBEE;

}

.main-signup-button-mobile {
    margin-top: 85%;
    margin-left: 30%;
    position: absolute;
    width: 40%;
    height: 6%;
    border-radius: 5px;
    background-color: #2A470C;
    color: #FFFBEE;

}

.main-signup-button-tablet {
    margin-top: 85%;
    margin-left: 36%;
    position: absolute;
    width: 30%;
    height: 6%;
    border-radius: 5px;
    background-color: #2A470C;
    color: #FFFBEE;

}