.signup-container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.signup-title-laptop {
    font-family: 'Karla', sans-serif;
    padding-bottom: 0%;
    font-size: 8vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
}

@media (min-width: 1025px) {
    .signup-input-container {
        width: 40%;
        padding-top: 0.5%;
        padding-bottom: 1%;
        padding-left: 16%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .signup-input-container {
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .signup-input-container {
        width: 70%;
        padding-top: 1%;
        padding-bottom: 2%;
        padding-left: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

.signup-title-mobile {
    padding-bottom: 1%;
    font-family: 'Karla', sans-serif;
    font-size: 5vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 2px;

}

.signup-title-tablet {
    padding-bottom: 2%;
    font-family: 'Karla', sans-serif;
    font-size: 7vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 3px;

}
.signup_label{
    color: #2A470C;
    margin-left: 1%;
}


.signup-input {
    height: 10%;
    width: 60%;
    font-size: large;
    border-radius: 10px;
    border: 1px #FBE3BE;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);

}
.signup-input .MuiInputLabel-root {
    padding-left: 10px;
}


@media (min-width: 1025px) {
    .signup-button-container {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .signup-button-container {
        padding-top: 1%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .signup-button-container {
        padding-top: 1%;
        padding-left: 2%;
        padding-bottom: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
}


@media (min-width: 1025px) {
    .signup-button {
        width: 24%;
        background-color: #2A470C;
        color: #FFFBEE;
        border-radius: 10px;
    }
}

@media (max-width: 480px) {
    .signup-button {
        width: 61%;
        background-color: #2A470C;
        color: #FFFBEE;
        border-radius: 10px;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .signup-button {
        width: 42.5%;
        background-color: #2A470C;
        color: #FFFBEE;
        border-radius: 10px;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .signin-button {
        width: 60%;
        background-color: #FFFBEE;
        color: #2A470C;
        border-radius: 10px;
        border: none;
    }
}

@media (min-width: 1025px) {
    .signin-button {
        width: 60%;
        background-color: #FFFBEE;
        color: #2A470C;
        border-radius: 10px;
        border: none;
    }
}

@media (max-width: 480px) {
    .signin-button {
        width: 80%;
        background-color: #FFFBEE;
        color: #2A470C;
        border-radius: 10px;
        border: none;
    }
}


@media (min-width: 1025px) {
    .signup-small-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 3vh;
    }
}

@media (max-width: 480px) {
    .signup-small-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 2vh;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .signup-small-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 2vh;
    }
}


@media (min-width: 1025px) {
    .signup-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 3.5vh;
    }
}

@media (max-width: 480px) {
    .signup-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 3.5vh;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .signup-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 2.5vh;
    }
}



