.test-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
    padding: 2%;
    width: 100%;
    justify-items: center;
    align-items: stretch;
}

.test-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #2A470C;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.game-details {
    color: #FFFBEE;
    font-size: 1rem;
    margin-bottom: 10px;
    font-family: 'Karla', sans-serif;
}

.see-more-button {
    background-color: #FFC267;
    color: #2A470C;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Karla', sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
    transition: background-color 0.3s ease;
}

.see-more-button:hover {
    background-color: #FFB347;
    color: #2A470C;
}

@media (min-width: 1025px) {
    .test-container {
        max-width: 90%;
    }

    .game-details {
        font-size: 0.9rem;
    }

    .see-more-button {
        font-size: 0.9rem;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .test-container {
        max-width: 60%;
    }

    .game-details {
        font-size: 0.8rem;
    }

    .see-more-button {
        font-size: 0.7rem;
    }
}


@media (max-width: 480px) {
    .test-container {
        max-width: 40%;
    }

    .game-details {
        font-size: 0.4rem;
    }

    .see-more-button {
        font-size: 0.4rem;
    }
}

