.doctor-profile-container {
    display: flex;
    flex-wrap: wrap;
}

.doctor-profile-laptop {
    font-family: 'Karla', sans-serif;
    padding-bottom: 2%;
    padding-left: 2%;
    font-size: 7vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
}

.doctor-profile-mobile {
    font-family: 'Karla', sans-serif;
    padding-bottom: 3%;
    font-size: 3vh;
    padding-left: 5%;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
}

.doctor-profile-tablet {
    font-family: 'Karla', sans-serif;
    padding-bottom: 5%;
    padding-left: 10%;
    font-size: 5vh;
    color: #2A470C;
    text-shadow: #2A350D 1px 1px 4px;
}


.doctor-profile-first-column {
    flex: 1 1 100%;
    order: 1;
}

.doctor-profile-second-column {
    flex: 1 1 100%;
    order: 2;

}


@media (min-width: 1025px) {
    .doctor-profile-first-column,
    .doctor-profile-second-column {
        flex: 1 1 50%;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .doctor-profile-first-column,
    .doctor-profile-second-column {
        flex: 1 1 100%;
    }
}

@media (max-width: 480px) {
    .doctor-profile-first-column,
    .doctor-profile-second-column {
        flex: 1 1 100%;
    }
}

.dr-button-container {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}


@media (min-width: 1025px) {
    .note-button-container {
        padding-top: 2%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .note-button-container {
        padding-top: 2%;
        padding-bottom: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .note-button-container {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 1025px) {
    .info-button-container {
        padding-top: 2%;
        padding-bottom: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 85%;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .info-button-container {
        padding-top: 2%;
        padding-bottom: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
}

@media (max-width: 480px) {
    .info-button-container {
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
}








@media (min-width: 1025px) {
    .dr-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 3.5vh;
        color: #2a470c;
    }
}

@media (max-width: 480px) {
    .dr-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 2vh;
        color: #2a470c;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .dr-text-button {
        font-family: 'Karla', sans-serif;
        font-size: 2.5vh;
        color: #2a470c;
    }
}

@media (min-width: 1025px) {
    .dr-text {
        font-family: 'Karla', sans-serif;
        font-size: 2.5vh;
        color: #2a470c;
    }
}

@media (max-width: 480px) {
    .dr-text {
        font-family: 'Karla', sans-serif;
        font-size: 1.5vh;
        margin-left: 7%;
        color: #2a470c;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .dr-text {
        font-family: 'Karla', sans-serif;
        font-size: 2vh;
        margin-left: 5%;
        color: #2a470c;
    }
}

@media (min-width: 1025px) {
    .dr-button {
        width: 50%;
        height: 15%;
        border: none;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: #282c34 0px 1px 4px;
    }
}

@media (max-width: 480px) {
    .dr-button {
        width: 45%;
        height: 15%;
        border: none;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: #282c34 0px 1px 4px;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .dr-button {
        width: 45%;
        height: 15%;
        border: none;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: #282c34 0px 1px 4px;
    }
}

@media (min-width: 1025px) {
    .window-button {
        width: 50%;
        height: 15%;
        border: none;
        border-radius: 15px;
        box-shadow: #282c34 0px 1px 4px;
    }
}

@media (max-width: 480px) {
    .window-button {
        width: 45%;
        height: 15%;
        border: none;
        border-radius: 15px;
        box-shadow: #282c34 0px 1px 4px;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .window-button {
        width: 30%;
        margin-bottom: 2%;
        padding: 1%;
        height: 15%;
        border: none;
        color: #FFFBEE;
        background-color: #2a470c;
        border-radius: 15px;
        box-shadow: #282c34 0px 1px 4px;
    }
}





.space {
    padding-bottom: 5%;
}

.input-wrapper {
    width: 90%;
    background-color: #2a470c;
    display: flex;
    font-family: 'Karla', sans-serif;
    align-items: stretch;
    justify-content: center;
}
.input-wrapper2 {
    width: 90%;
    background-color: #FFFBEE;
    display: flex;
    font-family: 'Karla', sans-serif;
    align-items: stretch;
    justify-content: center;
}

@media (min-width: 1025px) {
    .input-label {
        padding: 1vh 1.5vh;
        width: 30%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        color: #2a470c;
        background-color: #FFFBEE;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Karla', sans-serif;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .input-label {
        padding: 1vh 1vh;
        width: 40%;
        font-size: 1.5vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        color: #2a470c;
        background-color: #FFFBEE;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Karla', sans-serif;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .input-label {
        padding: 1vh 1vh;
        width: 30%;
        font-size: 1.5vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        color: #2a470c;
        background-color: #FFFBEE;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Karla', sans-serif;
        display: flex;
        align-items: center;
    }
}

.info-input {
    width: 90%;
    font-size: large;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FBE3BE;
    color: #2A470C;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 2vh 1vh;
    line-height: inherit;
    height: auto;
    box-sizing: border-box;
}

@media (min-width: 1025px) {
    .info-input-container {
        width: 80%;
        padding-top: 5%;
        margin-top: 15%;
        border-radius: 10px;
        padding-bottom: 5%;
        padding-left: 5%;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}


@media (max-width: 480px) {
    .info-input-container {
        width: 80%;
        margin-top: 15%;
        margin-left: 6%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        border-radius: 10px;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .info-input-container {
        width: 85%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-left: 5%;
        margin-left: 5%;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border-radius: 10px;
    }
}


@media (min-width: 1025px) {
    .notes-input-container {
        width: 80%;
        height: 45%;
        margin-top: 8%;
        border-radius: 10px;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1025px) {
    .notes-typing-input-container {
        width: 80%;
        height: 70%;
        border-radius: 10px;
        background-color: #FFFBEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
    }
}


@media (max-width: 480px) {
    .notes-input-container {
        width: 85%;
        height: 95%;
        margin-left: 5%;
        margin-top: 25%;
        border-radius: 10px;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .notes-typing-input-container {
        width: 80%;
        height: 85%;
        border-radius: 10px;
        background-color: #FFFBEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .notes-input-container {
        width: 90%;
        height: 100%;
        margin-top: 10%;
        margin-left: 5%;
        border-radius: 10px;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (min-width: 480px) and (max-width: 1024px) {
    .notes-typing-input-container {
        width: 80%;
        height: 70%;
        border-radius: 10px;
        background-color: #FFFBEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 5%;
    }
}


.full-size {
    width: 100%;
    height: 100%;
    resize: none;
    overflow-y: auto;
}

@media (max-width: 480px) {
    .credentials-container {
        width: 80%;
        height: 85%;
        border-radius: 10px;
        background-color: #FFFBEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 2%;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .credentials-container {
        width: 90%;
        height: 100%;
        margin-top: 2%;
        margin-left: 5%;
        border-radius: 10px;
        background-color: #2a470c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (min-width: 480px) and (max-width: 1024px) {
    .credentials-container {
        width: 50%;
        height: 20%;
        margin-left: 20%;
        border-radius: 10px;
        padding: 2%;
        background-color: #FFFBEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.info-input2 {
    width: 90%;
    font-size: large;
    background-color: #FBE3BE;
    color: #2a470c;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    border: none;
    padding: 2vh 1vh;
    line-height: inherit;
    height: auto;
    box-sizing: border-box;
}

@media (min-width: 1025px) {
    .input-label2 {
        padding: 1vh 1.5vh;
        width: 30%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        color: #2a470c;
        background-color: #FFFBEE;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Karla', sans-serif;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .input-label2 {
        padding: 1vh 1vh;
        width: 40%;
        font-size: 1.5vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        color: #2a470c;
        background-color: #FFFBEE;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Karla', sans-serif;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .input-label2 {
        padding: 1vh 1vh;
        width: 30%;
        font-size: 1.5vh;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-weight: bold;
        color: #2a470c;
        background-color: #FFFBEE;
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
        font-family: 'Karla', sans-serif;
        display: flex;
        align-items: center;
    }
}

