.doctor-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin-top: 5%;
}

.doctor-info-input-container {
    width: 50%;
    background-color: #2a470c;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.doctor-input-wrapper {
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-bottom: 1.5%;
}

.doctor-input-label {
    width: 35%;
    background-color: #fffbef;
    color: #2a470c;
    padding: 0 1%;
    border-radius: 10px 0 0 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 40px;
}

.info-input {
    flex: 1;
    background-color: #fbe3be;
    color: #2a470c;
    border: none;
    border-radius: 0 10px 10px 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1rem;
}

.doctor-save-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: 35%;
    margin-top: 20px;
}

